<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel"> -->
    <!-- <link rel="icon" href="favicon.ico"> -->

    <link
      href="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css"
      rel="stylesheet" type="text/css">
    <link
      href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.css"
      rel="stylesheet" type="text/css">
    
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.2.0.min.js"></script>
      

    <title>Stock ticker</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <H1>Stock Ticker</H1>

    <form action='/'>
    <p>
      Ticker symbol: <input type='text' name='stock_symbol'/>
    </p>
    <p>
      <input type='submit' value='Submit'>
    </p>
    </form>

    {{ script|safe }}
    {{ div|safe }}
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
